@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@200;300&display=swap');

body {
  font-family: 'Raleway', sans-serif, 'Lobster', 'cursive';
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* custom css  */

.brand-name {
  font-family: 'Lobster', 'cursive';
  font-size: 30px;
  font-weight: 900;
}

.navbar {
  background-color: #ffffff;

}

.navbar-brand img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbar a:hover {
  color: orange;
}

.navbar a {
  color: #9155A7;
}

.drop {
  background-color: red;
}



.carousel-item img {
  height: 600px;
  /* object-fit: cover; */
}

.header-container {
  padding: 30px;
  background-color: #9155A7;
  text-align: center;
  color: orange;

}

.card {
  background-color: navy;
}

.card-title {
  color: #9155A7;
}

.director {
  width: 300px;
  height: 100px;
  background: none;
  margin: 50px 0;
}

.team-container {
  margin-top: 200px;
  padding-top: 150px;
  padding-bottom: 0px;
  /* height: 400px; */
  /* border: 2px solid rebeccapurple; */
}

.experties-title {
  font-family: 'Raleway', 'sans-serif';
  color: navy;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  font-weight: 700;
}

.team-member-image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  text-align: center;
}

.teacher {
  margin-bottom: 100px;
}

.teacher-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.researcher-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.team-bcg {}

.ps-info {
  /* background-color: orange; */
  color: orange;
  padding: 10px;
}

.ps-info h2,
h4 {
  font-family: 'Lobster', 'cursive';
}

.paper-number {
  /* background-color: rgb(134, 6, 124); */
  /* color: white; */
  padding: 10px;
  background-image: url('https://media.istockphoto.com/photos/empty-dark-blue-studio-room-with-light-and-shadow-abstract-background-picture-id1339787499?b=1&k=20&m=1339787499&s=170667a&w=0&h=psnH04yZpoVzxa4xTZt4hDwff5WiO0cQrtnYdRttkSI=');
}

.tagline {
  font-size: 12px;
  margin: 0;
}

.experties-icon {
  font-size: 70px;
  color: orange;
}

.partner-icon {
  font-size: 100px;
  text-align: center;
  color: orange;

}

.partner-title {
  display: flex;
  justify-content: center;
  align-items: center;

}

.partner-title h2 {
  color: orange;
}

.partner {
  text-align: center;
}

.footer {
  background-color: #393838;
  color: white;
}

.myfooter p {
  margin: 0;
}

.footer-image {
  /* background-color: aliceblue; */
}

.social-media-icon {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  align-items: center;
  color: orange;

}

.social-media-icon svg {
  background-color: orange;
  color: white;
  border-radius: 50%;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}